.clearfix {
  overflow: auto;
}

.accent{
    color: #a30a0a;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav-right{
    position: absolute;
    top: 20px;
    right: 50px;
}

@media all and (max-width: 767px) {
    .nav-right {
        display: none;
    }
}

.nav-right a {
    padding: 20px;
    font-size: 1.5rem;
    color: aliceblue !important;
}

.logo-left{
    position: absolute;
    left: 50px;
    top: 20px;
}

.text-center{
    text-align: center;
}

.vertical-center{
    min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;  
}

.hero{
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(237, 28, 28, 0.5), rgba(163, 10, 10, 0.9)), url('images/businessBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@media all and (max-width: 767px) {
    .hero {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


.heroText{
    color: rgba(250,250,250,1);
    font-size: 5rem;
    margin: auto;
}

.dark-text{
    color: #171717 !important;
}

.mid-text{
    color: #575757 !important;
}

.light-text{
    color: rgba(120,120,120,1) !important;
}

.t400{
    font-weight: 400 !important;
}

.t600{
    font-weight: 600 !important;
}

.t800{
    font-weight: 800 !important;
}

.section-head{
    padding-bottom: 50px;
}

.image{
    width: 100%;
}

.slanted{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0 100%);
}

.slantedImage{
    border-radius: 20px 0px 20px 0px;
}

.form-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.42857143;
    color: rgba(250,250,250,1);
    background-color: #000;
    background-image: none;
    border: 0 solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}

.sendButton{
    float: right;
    margin: 10px 0 0 0;
    padding: 5px 40px;
    border-radius: 0;
    background-color: #be0200;
    border: 0 solid #333;
    color: #fff;
    text-shadow: none;
}
